files:
  "/opt/elasticbeanstalk/hooks/configdeploy/post/99_kill_default_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      . /opt/elasticbeanstalk/support/envvars
      USER="nginx"
      DAEMON="nginx"
      ROOT_DIR="/var/www"

      PID_FILE="$ROOT_DIR/nginx.pid"
      DAEMON_PATH="/usr/sbin/nginx"

      LOCK_FILE="/var/lock/subsys/nginx"

      test -x $DAEMON_PATH || exit 0

      if [ -f $PID_FILE ]; then
        PID=`cat $PID_FILE`
        RUNNING=`ps --pid $PID | wc -l`
        if [ $RUNNING -gt 1 ]; then
           echo "$DAEMON is running."
           kill -QUIT `cat $PID_FILE`
           sleep 10
        fi
      fi